<div id="fb-root"></div>
<!-- Using the JavaScript SDK -->

<div class="mw-facebook">
    <!--    <div id="mw-share-facebook">-->
    <!--        <a href="javascript:;" title="Share on Facebook">-->
    <!--            <img class="mw-img-icon" src="--><?php //echo $block->getViewFileUrl('MW_LikeShareFacebook::images/mw-icon-facebook.png') ?><!--"/>-->
    <!--        </a>-->
    <!--    </div>-->

    <div class="fb-share-button"
         data-href="<?php echo $block->getPageUrl(); ?>"
         data-layout="button_count">
    </div>

    <div class="fb-like"
         data-href="<?php echo $block->getCurrentUrl(); ?>"
         data-width="500px"
         data-layout="standard"
         data-action="like"
         data-show-faces="true"
         data-share="false">
    </div>
</div>

<style type="text/css">
    #mw-share-facebook {
        padding-top: 10px;
        width:300px;
        padding-bottom: 10px;
        text-align: center;
    }
    #mw-share-facebook a {
        display: table-cell;
        background-color: white;
        text-align: center;
        text-decoration: none;
    }
    .mw-img-icon {
        float: left;
        margin-top: 3px;
        height: 25px;
        width: 50px;
    }
</style>

<script>
    require([
        'jquery'
    ], function($) {

        window.fbAsyncInit = function() {
            FB.init({
                appId  : <?php echo $block->getAppId() ?>,
                cookie : true,
                status : true,
                oauth  : true,
                xfbml  : true
            });

            FB.Event.subscribe('edge.create',
                function(response) {
                    /**
                     * TODO
                     */
                }
            );
        };

        (function(d){
            var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            d.getElementsByTagName('head')[0].appendChild(js);
        }(document));

        $(document).ready(function() {
            $('#mw-share-facebook').click(function() {
                FB.ui({
                    method: 'share',
                    href: '<?php echo $block->getPageUrl(); ?>'
                }, function(response) {
                    if (response && !response.error_message) {
                        /**
                         * TODO
                         */
                    }
                });
            });
        });
    });
</script>