
<div class="data-grid-cell-content">
    <!-- ko if: $row()[index] -->
    <span data-bind="html: $row()[index] , style: { 'background-color': $col.getColor($row())} "></span>
    <!-- /ko -->
</div>

