<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="data-grid-cell-content">
    <!-- ko if: $row()[index] -->
    <span data-bind="html: $row()[index]"></span>
    <!-- /ko -->
</div>