<div class="field telephone required">
    <label class="label" for="telephone">
        <span><?= $block->escapeHtml(__('Telephone')) ?></span>
    </label>
    <div class="control">
        <input type="text" name="telephone" id="telephone" value="" title="<?= $block->escapeHtmlAttr(__('Telephone')) ?>" class="input-text" data-validate="{required:true}">
    </div>
</div>

<div class="field pre_gender">
    <!--    <label class="label" for="gender">-->
    <!--        <span>--><?//= $block->escapeHtml(__('Gender')) ?><!--</span>-->
    <!--    </label>-->
    <!--    <div class="control">-->
    <!--        <select id="gender" name="gender" class="required-entry" data-validate="{required:true}">-->
    <!--            <option value="">--><?php //echo __('Please select Gender') ?><!--</option>-->
    <!--            <option value="1">--><?php //echo __('Male') ?><!--</option>-->
    <!--            <option value="2">--><?php //echo __('Female') ?><!--</option>-->
    <!--        </select>-->
    <!--    </div>-->
</div>


<div class="field foot_size required">
    <label class="label" for="foot_size">
        <span><?= $block->escapeHtml(__('Foot Size')) ?></span>
    </label>
    <div class="control">
        <select id="pre_size">
            <option value="size_small"><?php echo __('Size Thường') ?></option>
            <option value="size_large"><?php echo __('Size Lớn') ?></option>
        </select>
        <select id="foot_size" name="foot_size" class="required-entry" data-validate="{required:true}">

        </select>
    </div>
</div>

<script>
    require([
        'jquery',
        'mage/mage'
    ], function($) {

        var genderTem = '';
        $('#form-validate').find('div.field.gender.required').each(function (){
            genderTem = $(this);
        });
        $('#form-validate').find('.pre_gender').each(function (){
            var divParent = $(this);
            //divParent.append(genderTem);
            //divParent.parent().insertBefore(genderTem, divParent);
            $(genderTem).insertAfter(divParent);

        });

        var allOptions  = {
            /* for male */
            size_small_1 : [39, 39.5, 40, 40.5, 41, 41.5, 42, 42.5, 43, 43.5 , 44],
            size_large_1 : [45, 45.5, 46, 46.5, 47, 47.5, 48, 48.5, 49],
            /* for female */
            size_small_2 : [35, 35.5, 36, 36.5, 37, 37.5, 38, 38.5, 39],
            size_large_2 : [40, 40.5, 41, 41.5, 42, 42.5, 43]
        };
        $(document).ready(function() {
            hideForm();
            $('#gender').on('change', function() {
                hideForm();
            });
            $('#pre_size').on('change', function() {
                buildOptions();
            });
        });
        function hideForm() {
            if ($('#gender').val() == '1' || $('#gender').val() == '2') {
                $('#foot_size').show();
                $('#foot_size').parent().parent().show();
                buildOptions();
            }else{
                $('#foot_size').hide();
                $('#foot_size').parent().parent().hide();
            }
        };
        function buildOptions() {
            var options = [];
            var gender = $('#gender').val();
            var size = $('#pre_size').val();
            if( gender && size) {
                options = allOptions[size + '_' + gender];
            }
            var id;
            var template = [];
            for (id in options) {
                let tem = '<option value="'+options[id]+'"> '+options[id]+'</option>';
                template.push(tem);
            }
            $("#foot_size").empty();
            $('#foot_size').append(template.join(''));
        }
    });
</script>

<style>
    .foot_size select{
        width: auto;
    }
</style>

