<div class="field telephone required">
    <label class="label" for="telephone">
        <span><?= $block->escapeHtml(__('Telephone')) ?></span>
    </label>
    <div class="control">
        <input type="text" name="telephone" id="telephone" value="" title="<?= $block->escapeHtmlAttr(__('Telephone')) ?>" class="input-text" data-validate="{required:true}">
    </div>
</div>

<div class="field pre_gender">

</div>


<div class="field foot_size required">
    <label class="label" for="foot_size">
        <span><?= $block->escapeHtml(__('Foot Size')) ?></span>
    </label>
    <div class="control">
        <div id="pre_size" class="pre_size">
            <div class="pre_size_small">
                <div class="title"><label><?php echo __('Size Thường') ?></label></div>
                <ul id="size_small" class="size_small"></ul>
            </div>
            <div class="pre_size_large">
                <div class="title"><label><?php echo __('Size Lớn') ?></label></div>
                <ul id="size_large" class="size_large"></ul>
            </div>
        </div>
        <input type="hidden" id="foot_size" name="foot_size" class="input-text" value="" data-validate="{required:true}">
    </div>
</div>

<script>
    require([
        'jquery',
        'mage/mage'
    ], function($) {

        var genderTem = '';
        $('#form-validate').find('div.field.gender.required').each(function (){
            genderTem = $(this);
        });
        $('#form-validate').find('.pre_gender').each(function (){
            var divParent = $(this);
            $(genderTem).insertAfter(divParent);
        });

        var allOptions  = {
            /* for male */
            size_small_1 : [39, 39.5, 40, 40.5, 41, 41.5, 42, 42.5, 43, 43.5 , 44],
            size_large_1 : [45, 45.5, 46, 46.5, 47, 47.5, 48, 48.5, 49],
            /* for female */
            size_small_2 : [35, 35.5, 36, 36.5, 37, 37.5, 38, 38.5, 39],
            size_large_2 : [40, 40.5, 41, 41.5, 42, 42.5, 43]
        };

        $(document).ready(function() {
            hideForm();
            $('#gender').on('change', function() {
                hideForm();
            });
        });

        function hideForm() {
            if ($('#gender').val() == '1' || $('#gender').val() == '2') {
                $('#pre_size').show();
                $('#pre_size').parent().parent().show();
                buildOptions();
            }else{
                $('#pre_size').hide();
                $('#pre_size').parent().parent().hide();
            }
        };

        function buildOptions() {
            var gender = $('#gender').val();
            var optionsSmall = allOptions['size_small_' + gender];
            var optionsLarge = allOptions['size_large_' + gender];
            var templateSmall = buildTemplate(optionsSmall, 'Size Thường');
            var templateLarge = buildTemplate(optionsLarge, 'Size Lớn');

            $("#size_small").empty();
            $('#size_small').append(templateSmall.join(''));

            $("#size_large").empty();
            $('#size_large').append(templateLarge.join(''));

            $('#form-validate').find('.field.foot_size.required').each(function (key, elemt){
                $(elemt).find('input').each(function (i, e) {
                    $(e).on( "change", function() {
                        setValuetoHiddenInput();
                    });
                });
            });
        };

        function buildTemplate(options , title) {
            var getTemplate = (value) => {
                return '<li>' +
                    '<label class="container"> ' +
                    '<input type="checkbox" value="'+value+'"> ' +
                    '<span class="checkmark"></span>' +
                    '<span class="text">'+value+'</span>' +
                    '</label>' +
                    '</li>';
            }
            // var template = ['<label class="container">'+title+'</label>'];
            var template = [];
            var id;
            for (id in options) {
                let tem = getTemplate(options[id]);
                template.push(tem);
            }
            return template;
        };
        function setValuetoHiddenInput() {
            let value = [];
            $('#form-validate').find('.field.foot_size.required').each(function (key, elemt){
                $(elemt).find('input').each(function (i, e) {
                    if(e.checked){
                        value.push(e.value);
                    }
                });
            });
            value = value.join(' ; ');
            $('#foot_size').val(value);
        }
    });
</script>

<style>
    .foot_size select{
        width: auto;
    }
    .foot_size{
        display: none;
    }

    .foot_size .pre_size_small,
    .foot_size .pre_size_large{
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .foot_size .pre_size .title{
        width: 25%;
    }
    .foot_size .pre_size .size_small,
    .foot_size .pre_size .size_large{
        width: 75%;
    }

    .foot_size .container {
        position: relative;
        /*padding-left: 35px;*/
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 15px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        /*margin-right: 35px;*/
    }

    /* Hide the browser's default checkbox */
    .foot_size .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .foot_size .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .foot_size .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .foot_size .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .foot_size .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .foot_size .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .foot_size .container .checkmark:after {
        left: 7px;
        top: 3px;
        width: 5px;
        height: 8px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .foot_size ul li, ol li {
        list-style: none;
    }

    .foot_size li {
        float: left;
        width: 20%;
        width: calc((100% - 20px)/ 5);
        width: -moz-calc((100% - 20px)/ 5);
        width: -webkit-calc((100% - 20px)/ 5);
        width: -o-calc((100% - 20px)/ 5);
        height: 22px;
    }
    .foot_size li .text {
        position: absolute;
        left: 25px;
    }
    .foot_size ul {
        padding: 0;
        margin: 0;
    }

</style>