/* S: General */
.clear{clear:both}
.hide{display: none;}
.text-center{text-align: center}
.text-left{text-align: left}
.text-right{text-align: right}
/* E: General */

/* S: Panel */
.os_panel{
    border: 1px #ccc solid;
    margin: 10px;
    border-radius: 10px;
}

.os_panel .header{
    border-bottom: 1px #ccc solid;
    padding: 10px;
    background: #373330;
    color: #fff;
    border-radius: 10px 10px 0px 0px;
}

.os_panel .content{
    list-style: none;
    margin: 10px;
}

.os_panel .content .item{
    padding: 10px 30px;
    text-align: left;
}

.os_panel .header label{
    line-height: 32px;
}

.os_panel .content .item label,
.os_panel .header label{
    font-weight: 600;
}

.mage-error {
    color: red;
}
